Language:es
CTemplate:321
VTemplate:4213
Plosive:Occlusiva
Implosive:Implosive
Nasal:Nasale
Fricative:Fricativa
Approximant:Approssimante
Trill:Vibrante
Flap:Monovibrante
Lateral Fricative:Laterale Fricativa
Lateral Approximant:Approssimante Lateral
Lateral Flap:Monovibrante laterale
Bilabial:Bilabiale
Labiodental:Labiodentale
Labial-velar:Labiovelare
Dental:Dentale
Alveolar:Alveolare
Postalveolar:Postalveolare
Retroflex:Retroflessa
Palatal:Palatale
Velar:Velare
Uvular:Uvulare
Pharyngeal:Faringale
Epiglottal:Epiglottale
Glottal:Glottidale
Voiceless:Sorda
Voiced:Sonora
Click:Clic
Vowel:Vocale
Rounded:Arrotondata
Unrounded:non Arrotondata
Close:Chiusa
Near-Close:Quasi Chiusa
Close-Mid:Semichiusa
Mid:Media
Open-Mid:Semiaperta
Near-Open:Quasi Aperta
Open:Aperta
Front:Anteriore
Near-Front:Quasi Anteriore
Central:Centrale
Near-Back:Quasi Posteriore
Back:Posteriore
Click:Clic
Lateral:Laterale
Palatoalveolar:Palatoalveolare
(Post)alveolar:Postalveolare
Postalveolar:Postalveolare
