Language:es
CTemplate:321
VTemplate:4123
Plosive:Oclusiva
Implosive:Implosiva
Nasal:Nasal
Fricative:Fricativa
Approximant:Aproximante
Trill:Vibrant Múltiple
Flap:Vibrante Simple
Lateral Fricative:Fricativa Lateral
Lateral Approximant:Aproximante Lateral
Lateral Flap:Vibrante Simple Lateral
Bilabial:Bilabial
Labiodental:Labiodental
Labial-velar:Labial-velar
Dental:Dental
Alveolar:Alveolar
Postalveolar:Postalveolar
Retroflex:Retrofleja
Palatal:Palatal
Palatal-velar:Palatal-velar
Velar:Velar
Uvular:Uvular
Pharyngeal:Faríngea
Epiglottal:Epiglotal
Glottal:Glotal
Voiceless:Sorda
Voiced:Sonora
Click:Click
Vowel:Vocal
Rounded:Redondeada
Unrounded:no Redondeada
Close:Cerrada
Near-Close:Casi Cerrada
Close-Mid:Semicerrada
Mid:Intermedia
Open-Mid:Semiabierta
Near-Open:Casi Abierta
Open:Abierta
Front:Anterior
Near-Front:Semianterior
Central:Central
Near-Back:Semiposterior
Back:Posterior
Click:Clic
Lateral:Lateral
Palatoalveolar:Palatoalveolar
Postalveolar:Postalveolar
Alveolo-palatal:Alveolo-palatal
