<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Font</key>
	<string>Doulos SIL</string>
	<key>Debug</key>
	<integer>0</integer>
	<key>Tab</key>
	<string>Vowel</string>
	<key>DontShowAgain</key>
	<integer>0</integer>
	<key>GlyphFallback</key>
	<integer>0</integer>
	<key>KeyboardSync</key>
	<false/>
	<key>UserGlyphs</key>
	<array/>
	<key>UserGlyphDescriptions</key>
	<dict/>
	<key>UserFonts</key>
	<array/>
</dict>
</plist>
