<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>IPA Palette</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IPA Palette</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3</string>
	<key>CFBundleSignature</key>
	<string>IPA!</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>InputMethodConnectionName</key>
	<string>IPAPalette_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>IPAInputController</string>
	<key>InputMethodType</key>
	<string>palette</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSBackgroundOnly</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>© Brian S. Hall, BLUGS.COM LLC, 2005-2019</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>tsInputMethodIconFileKey</key>
	<string>IPAIconTemplate.pdf</string>
</dict>
</plist>
