<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>


<!-- BEGIN (PULMONIC) CONSONANT DATA -->
<dict><key>char</key> <string>p</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.00267953, 0.869231}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>b</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.0478905, 0.869231}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>t</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.273945, 0.869231}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>d</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.319156, 0.869231}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ʈ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.454789, 0.869231}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɖ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.5, 0.869231}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>c</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.545211, 0.869231}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɟ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.590422, 0.869231}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>k</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.635633, 0.869231}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɡ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.680844, 0.869231}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>q</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.726055, 0.869231}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɢ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.771266, 0.869231}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ʔ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.906899, 0.869231}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>m</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.0478905, 0.746154}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɱ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.138312, 0.746154}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>n</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.319156, 0.746154}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɳ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.5, 0.746154}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɲ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.590422, 0.746154}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ŋ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.680844, 0.746154}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɴ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.771266, 0.746154}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ʙ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.0478905, 0.623077}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>r</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.319156, 0.623077}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɽ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.5, 0.623077}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ʀ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.771266, 0.623077}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ⱱ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.138312, 0.5}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɾ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.319156, 0.5}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɸ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.00267953, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>β</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.0478905, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>f</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.0931014, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>v</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.138312, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>θ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.183523, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ð</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.228734, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>s</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.273945, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>z</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.319156, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ʃ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.364367, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ʒ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.409578, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ʂ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.454789, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ʐ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.5, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ç</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.545211, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ʝ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.590422, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>x</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.635633, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɣ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.680844, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>χ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.726055, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ʁ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.771266, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ħ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.816477, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ʕ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.861688, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>h</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.906899, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɦ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.95211, 0.376923}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɬ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.273945, 0.253846}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɮ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.319156, 0.253846}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ʋ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.138312, 0.130769}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɹ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.319156, 0.130769}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɻ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.5, 0.130769}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>j</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.590422, 0.130769}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɰ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.680844, 0.130769}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>l</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.319156, 0.00769231}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ɭ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.5, 0.00769231}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ʎ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.590422, 0.00769231}, {0.045211, 0.123077}}</string>
</dict>
<dict><key>char</key> <string>ʟ</string>
  <key>chart</key> <string>consonant</string>
  <key>rect</key> <string>{{0.680844, 0.00769231}, {0.045211, 0.123077}}</string>
</dict>



<!-- BEGIN VOWEL DATA -->
<dict><key>char</key> <string>i</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.02, 0.86}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>y</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.115984, 0.86}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ɨ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.405, 0.86}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ʉ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.500984, 0.86}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ɯ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.79, 0.86}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>u</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.885984, 0.86}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ɪ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.2, 0.72}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ʏ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.295984, 0.72}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ʊ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.715984, 0.72}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>e</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.15, 0.58}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ø</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.245984, 0.58}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ɘ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.47, 0.58}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ɵ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.565984, 0.58}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ɤ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.79, 0.58}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>o</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.885984, 0.58}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ə</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.547992, 0.44}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ɛ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.285, 0.299}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>œ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.380984, 0.299}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ɜ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.535, 0.299}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ɞ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.630984, 0.299}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ʌ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.79, 0.299}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ɔ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.885984, 0.299}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>æ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.35, 0.156}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ɐ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.607992, 0.156}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ɚ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.02, 0.01}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ɝ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.115984, 0.01}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>a</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.418, 0.01}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ɶ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.513984, 0.01}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ɑ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.79, 0.01}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>ɒ</string>
  <key>chart</key> <string>vowel</string>
  <key>rect</key> <string>{{0.885984, 0.01}, {0.0959841, 0.141927}}</string>
</dict>
<dict><key>char</key> <string>̋</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0, 0.875}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>́</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0, 0.75}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̄</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0, 0.625}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̀</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0, 0.5}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̏</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0, 0.375}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ꜛ</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0, 0.25}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ꜜ</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0, 0.125}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>˥</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.25, 0.875}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>˦</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.25, 0.75}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>˧</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.25, 0.625}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>˨</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.25, 0.5}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>˩</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.25, 0.375}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>↗</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.25, 0.25}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>↘</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.25, 0.125}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̌</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.5, 0.875}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̂</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.5, 0.75}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>᷄</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.5, 0.625}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>᷅</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.5, 0.5}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>᷈</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.5, 0.375}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>᷆</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.5, 0.25}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>᷇</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.5, 0.125}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>᷉</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.5, 0}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ˈ</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.75, 0.875}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ˌ</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.75, 0.75}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ː</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.75, 0.625}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ˑ</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.75, 0.5}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̆</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.75, 0.375}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>‿</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.75, 0.25}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>|</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.75, 0.125}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>‖</string>
  <key>chart</key> <string>supratone</string>
  <key>rect</key> <string>{{0.75, 0}, {0.25, 0.125}}</string>
</dict>



<!-- BEGIN DIACRITIC DATA -->
<dict><key>char</key> <string>̥</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0, 0.875}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̬</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0, 0.75}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̹</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0, 0.625}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̜</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0, 0.5}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̟</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0, 0.375}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̠</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0, 0.25}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̈</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0, 0.125}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̽</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0, 0}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̩</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.25, 0.875}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̯</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.25, 0.75}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̤</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.25, 0.625}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̰</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.25, 0.5}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̼</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.25, 0.375}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>˞</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.25, 0.25}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̴</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.25, 0.125}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ʼ</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.25, 0}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̝</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.5, 0.875}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>˔</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.5, 0.75}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̞</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.5, 0.625}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>˕</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.5, 0.5}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̘</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.5, 0.375}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̙</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.5, 0.25}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̪</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.75, 0.875}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̺</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.75, 0.75}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̻</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.75, 0.625}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̃</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.75, 0.5}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̚</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.75, 0.375}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>͡</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.75, 0.25}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>͜</string>
  <key>chart</key> <string>diacritic</string>
  <key>rect</key> <string>{{0.75, 0.125}, {0.25, 0.125}}</string>
</dict>



<!-- BEGIN OTHER DATA -->
<dict><key>char</key> <string>ʘ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0, 0.875}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ǀ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0, 0.75}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ǃ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0, 0.625}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ǂ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0, 0.5}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ǁ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0, 0.375}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ɓ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0.25, 0.875}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ɗ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0.25, 0.75}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ʄ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0.25, 0.625}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ɠ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0.25, 0.5}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ʛ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0.25, 0.375}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ʍ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0.5, 0.875}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>w</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0.5, 0.75}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ɥ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0.5, 0.625}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ʜ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0.5, 0.5}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ʢ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0.5, 0.375}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ʡ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0.5, 0.25}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ɕ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0.75, 0.875}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ʑ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0.75, 0.75}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ɺ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0.75, 0.625}, {0.25, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ɧ</string>
  <key>chart</key> <string>other</string>
  <key>rect</key> <string>{{0.75, 0.5}, {0.25, 0.125}}</string>
</dict>



<!-- BEGIN EXTIPA DATA -->
<dict><key>char</key> <string>ʬ</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0, 0.875}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ʭ</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0, 0.75}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ʪ</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0, 0.625}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ʫ</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0, 0.5}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ʩ</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0, 0.375}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>¡</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0, 0.25}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ǃ¡</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0, 0.125}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>‼</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0, 0}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>͍</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.2, 0.875}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>͆</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.2, 0.75}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̪͆</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.2, 0.625}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>͈</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.2, 0.5}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>͉</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.2, 0.375}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>͎</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.2, 0.25}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>͊</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.2, 0.125}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>͋</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.2, 0}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>͌</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.4, 0.875}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>͇</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.4, 0.75}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>͢</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.4, 0.625}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>͔</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.4, 0.5}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>͕</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.4, 0.375}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>˭</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.6, 0.875}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>₍</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.6, 0.75}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>₎</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.6, 0.625}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>ˬ</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.6, 0.5}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>↑</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.6, 0.375}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>↓</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.6, 0.25}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>Œ</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.8, 0.875}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>Ю</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.8, 0.75}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>И</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.8, 0.625}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>Θ</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.8, 0.5}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>̣</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.8, 0.375}, {0.2, 0.125}}</string>
</dict>
<dict><key>char</key> <string>❍</string>
  <key>chart</key> <string>extipa</string>
  <key>rect</key> <string>{{0.8, 0.25}, {0.2, 0.125}}</string>
</dict>
</array>
</plist>
